.loader{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid #629584;
    border-left: 20px solid #E2F1E7;
    animation: spinAnimate 2s steps(100) 0s infinite normal;
}
@keyframes spinAnimate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}